//Variables
$titles: #0ACF83;
$button-color: #067B5F;

.indexTitle{
    color: $titles;
}
.buttonBuy{
    background-color: $button-color !important;

}
.textButton{
    color: white;
}

.menu{
    background-color: $button-color;
}
.buttonCat{
    background-color: white;
    color: $button-color !important;
    border: 1px solid $button-color;
}

