//Variables
$titles: #0ACF83;
$button-color: #067B5F;

.indexTitle{
    color: $titles;
}
.buttonBuy{
    background-color: $button-color !important;

}
.textButton{
    color: white;
}

.menu{
    background-color: $button-color;
}

.btnCar{
    background-color: white !important;
}